BIG_DEPTH_MIN_NOTIONAL="31000000"
BIG_DEPTH_MIN_PRESSURE_PCT="100"
BIG_TRADE_QTY="1"
SPIKE_PCT="0.01"
BTCUSDT_BIG_TRADE_QTY="15"
BTCUSDT_SPIKE_PCT="0.15"
ETHUSDT_BIG_TRADE_QTY="400"
ETHUSDT_SPIKE_PCT="0.2"
LINKUSDT_BIG_TRADE_QTY="12000"
LINKUSDT_SPIKE_PCT="0.2"
SOLUSDT_BIG_TRADE_QTY="5000"
SOLUSDT_SPIKE_PCT="0.09"
SYMBOLS="btcusdt,ethusdt,solusdt,linkusdt,xautusdt"
ENABLE_KLINE_QUANT="true"
ENABLE_FUNDING_RATE="true"
FUNDING_RATE_ALERT_PCT="0.10"
FUNDING_RATE_COOLDOWN_SECS="300"
